todolist-backend/target/
todolist-backend/.idea/
todolist-backend/.classpath
todolist-backend/.settings/
todolist-backend/bin/
todolist-backend/node_modules/
todolist-backend/dist/
todolist-backend/build/