<div class="conteudo">
    <div class="panel-filter">
        <input [(ngModel)]="tituloFiltro" placeholder="Digite um título">

        <div class="status-filter">
            <label>Status</label>
            <div class="options-checkbox">
                @for (opcao of opcoesStatusCheckBox; track opcao.enumName) {
                    <input type="checkbox" [(ngModel)]="opcao.selecionado">
                    <label>{{opcao.legenda}}</label>
                }
            </div>
        </div>
        
        <div class="sort-by-filter">
            <label>Ordernar Por</label>
            <select [(ngModel)]="sortBy">
                <option value="status">Status</option>
                <option value="titulo">Título</option>
            </select>
        </div>
        <button (click)="filtrar()">Filtrar</button>
        
    </div>
    <table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        @for (tarefa of tarefas; track tarefa.id) {
            <tr>
                <th>{{tarefa.titulo}}</th>
                <th>{{tarefa.descricao}}</th>
                <th>{{tarefa.status}}</th>
            </tr>
        }
    </tbody>
</table>
</div>