<div class="conteudo">
    <div class="panel-filter">
        <input [(ngModel)]="tituloFiltro" placeholder="Digite um título">
        <div class="status-filter">
            <label>Status</label>
            <select [(ngModel)]="statusFiltro">
            <option value="">Todos</option>
            <option value="EM_ANDAMENTO">Em Andamento</option>
            <option value="PENDENTE">Pendente</option>
            <option value="FINALIZADA">Finalizada</option>
        </select>
        </div>
        
        <div class="sort-by-filter">
            <label>Ordernar Por</label>
            <select [(ngModel)]="sortBy">
                <option value="status">Status</option>
                <option value="titulo">Título</option>
            </select>
        </div>
        <button (click)="filtrar()">Filtrar</button>
        
    </div>
    <table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @for (tarefa of tarefas; track tarefa.id) {
            <tr>
                <th>{{tarefa.titulo}}</th>
                <th>{{tarefa.descricao}}</th>
                <th>{{tarefa.status}}</th>
            </tr>
        }
    </tbody>
</table>
</div>