<div class="conteudo">
    <div class="panel">
        <input [(ngModel)]="tituloFiltro" placeholder="Digite um título">
        <button (click)="procurarPorTitulo()">Filtrar</button>
    </div>
    <table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @for (tarefa of tarefas; track tarefa.id) {
            <tr>
                <th>{{tarefa.titulo}}</th>
                <th>{{tarefa.descricao}}</th>
                <th>{{tarefa.status}}</th>
            </tr>
        }
    </tbody>
</table>
</div>