<div class="conteudo">
    <h2>
        @if (isEdicao) {
            Editar Tarefa
        }
        @else {
            Criar Tarefa
        }
    </h2>
    <form>
    <label>Título</label>
    <input [(ngModel)]="tarefa.titulo" required="true" name="titulo" class="titulo">
    <label>Descrição</label>
    <input [(ngModel)]="tarefa.descricao" name="descricao" class="descricao">
    @if (isEdicao) {
        <label>Status</label>
            <select>
                @for (status of opcoesStatus; track status.enumName) {
                    <option value="{{status.enumName}}">{{status.legenda}}</option>
                }                
            </select>
    }
    <button (click)="salvar()">
        @if (isEdicao) {
            Editar
        }
        @else {
            Criar
        }
    </button>
</form>
</div>
